.body {
    display: flex;
    font-size: 25px;
}
.body_left {
    flex : 1
}
.body_right {
    flex : 1
}
ol {
    margin-left: 50px;
}
h4 {
    text-align: right;
    font-weight: bold;
}
h3, span {
    font-weight: bold;
}
