/*Reset*/
*{
    font-family: Chivo;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
}

.info {
    display: block;
    padding-top: "30px";
}

span, input {
    font-size: "14px";
    
}
.info > div> span{
    margin-left: "20px";
}
input {
    border: "1px" solid #E4E4E4;
    background-color: white;
    margin-left: "10px";
}

.nameinput {
    width: "73px";
    height: "29px";
}
.phoneinput{
    width: "119px";
    height: "29px";
}
.emailinput{
    width: "138px";
    height: "29px";
}
.addressinput{
    width: "374px";
    height: "29px";
}